* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.loader{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgb(233, 224, 224);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-in-out;

    img{
        width: 70px;
        height: 70px;
        object-fit: cover;
    }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 70px;
}

nav ul {
  list-style: none;
  background: #22448c00;

  @media (max-width: 1071px) {
    display: none;
  }
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav ul li a {
  display: block;
  padding: 20px 25px;
  color: #dadada;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}

nav li ul.dropdown {
  width: 200px;
  background: #121212;
  position: absolute;
  z-index: 10;
  display: none;

  a {
    font-size: 15px;
  }

  a:hover {
    color: red;
  }
}

ul li a:hover {
  color: #ffffff;
}

ul li:hover ul.dropdown {
  display: block;
}

.social-handless a {
  text-decoration: none;
  color: white;
}

.social-handless a i,
.fa-bars {
  margin: 0 5px;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.social-handless .f i:hover {
  color: blue;
  rotate: z 360deg;
}

.social-handless .i i:hover {
  color: rgb(255, 0, 132);
  rotate: z 360deg;
}
.social-handless .l i:hover {
  color: blue;
  rotate: z 360deg;
}
.social-handless .y i:hover {
  color: rgb(255, 0, 0);
  rotate: z 360deg;
}

.fa-bars,
.fa-x {
  color: #fff;
  cursor: pointer;
}

// responsiveNav

.responsive-bar {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 0, 0, 0.788);
  backdrop-filter: blur(5px);
  position: fixed;
  top: -1000px;
  left: 0;
  z-index: 4;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  ul li {
    list-style-type: none;
    margin: 10px 0;

    a {
      text-decoration: none;
      color: #fff;
      font-size: 3rem;
      font-weight: 600;

      @media (max-width: 1071px) {
        font-size: 2rem;
      }
    }
  }
}

.move-social {
  position: absolute;
  bottom: 90px;
  right: 90px;
}

.page1 {
  width: 100vw;
  height: 100vh;
  background-image: url("../imgs/callofduty.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
  background-color: #0d011b;
}

.page1-overflow {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.744);
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    text-transform: capitalize;
    color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }

  h1 {
    text-transform: capitalize;
    color: #fff;
    font-family: cursive;
    font-size: 4rem;
    transition: all 0.5s ease-in-out;

    @media (max-width: 500px) {
      font-size: 3rem;
    }
  }

  hr {
    width: 100px;
  }

  h3 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
  }

  .btns-hv {
    button {
      width: 150px;
      padding: 10px;
      background: #ffffff3c;
      border: none;
      border-radius: 40px;
      margin-left: 10px;
      cursor: pointer;
      color: transparent;
      position: relative;
      overflow: hidden;
      transition: all 0.5s ease-in-out;
    }

    .hire {
      background-color: rgb(155, 7, 7);
      -webkit-text-stroke: 0.5px rgb(255, 255, 255);
      font-size: 20px;

      &::after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0px;
        width: 0%;
        height: 100%;
        border-radius: 40px;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in-out;
      }

      &:hover::after {
        width: 100%;
        opacity: 1;
        color: #fff;
      }
    }

    .view {
      background-color: rgba(253, 253, 253, 0.664);
      -webkit-text-stroke: 0.5px rgb(2, 2, 2);
      font-size: 20px;

      &::after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0px;
        width: 0%;
        height: 100%;
        border-radius: 40px;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in-out;
      }

      &:hover::after {
        width: 100%;
        opacity: 1;
        color: #020202;
      }
    }
  }
}

.page2 {
  width: 100vw;
  height: 100vh;
  display: flex;

  @media (max-width: 1183px) {
    flex-direction: column-reverse;
    height: 100%;
  }
}

.p2-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;

  @media (max-width: 1183px) {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  .img1 {
    width: 80%;
    height: 90%;
    object-fit: contain;
  }
}

.p2-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  @media (max-width: 1183px) {
    margin-top: 20px;
    width: 100%;
    align-items: center;
  }

  p {
    font-size: 15px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    letter-spacing: 3px;
    word-spacing: 10px;
    width: 70%;

    @media (max-width: 1183px) {
      width: 90%;
    }
  }

  h1 {
    font-family: cursive;
    font-size: 3rem;

    @media (max-width: 1183px) {
      font-size: 2rem;
      text-align: center;
    }
  }

  .info-grd {
    z-index: 2;
    margin-top: 20px;
    width: 90%;
    height: 70px;
    border: 1px solid transparent;
    border-top-color: #020202;
    background-color: #fff;
    display: flex;
    align-items: center;

    @media (max-width: 1183px) {
      flex-direction: column;
      gap: 20px;
    }

    h3 {
      span {
        font-weight: 100;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      }
    }

    .loc-phone {
      margin-left: 20px;
    }
  }

  .sm {
    @media (max-width: 1183px) {
      margin-top: 40px;
    }

    i {
      margin-left: 9px;
      color: red;
    }
  }

  .cvd {
    padding: 8px 14px;
    border: none;
    outline: none;
    background-color: red;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    &:hover {
      background-color: #020202;
      color: rgb(255, 255, 255);
    }
  }
}

.work-title {
  width: 100vw;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    text-transform: capitalize;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 1px black;
    color: transparent;
  }
}

.work1 {
  width: 100vw;
  height: 100vh;
  background-image: url("../imgs/m1.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
}

.tech-stack{
    width: 100px;
    height: 30px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    gap: 20px;

    .fa-html5{
        color:tomato;
    }

    .fa-css3-alt{
        color: blue;
    }

    .fa-js{
        color: gold;
    }

    .fa-php{
        color: blue;
    }
}


.work1-over {
  width: 100%;
  height: 100%;
  background-color: #0000009a;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  h1 {
    color: #fff;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  p {
    color: #fff;
    width: 400px;
    text-align: center;
    margin-top: 10px;

    @media (max-width: 500px) {
      width: 95%;
    }
  }
}

.work2 {
  width: 100vw;
  height: 100vh;
  background-image: url("../imgs/click.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.work2-over {
  width: 100%;
  height: 100%;
  background-color: #0000009a;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  h1 {
    color: #fff;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  p {
    color: #fff;
    width: 400px;
    text-align: center;
    margin-top: 10px;

    @media (max-width: 500px) {
      width: 95%;
    }
  }
}

.work3 {
  width: 100vw;
  height: 100vh;
  background-image: url("../imgs/redblack.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
}

.work3-over {
  width: 100%;
  height: 100%;
  background-color: #0000009a;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  h1 {
    color: #fff;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  p {
    color: #fff;
    width: 400px;
    text-align: center;
    margin-top: 10px;

    @media (max-width: 500px) {
      width: 95%;
    }
  }
}


.contact-p1 {
    width: 100vw;
    height: 100vh;
    display: flex;

    @media(max-width:719px){
        flex-direction: column-reverse;
    }

    
  }
  
  .cp1-left {
    width: 50%;
    height: 100%;

    @media(max-width:719px){
        width: 100%;
    }
  
    .cform {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 60px;
  
      input {
        background-color: transparent;
        border: 1px solid transparent;
        border-bottom-color: var(--lt);
        outline: none;
        width: 90%;
        color: black;
        padding: 10px;
      }
  
      textarea {
        background-color: transparent;
        border: 1px solid transparent;
        border-bottom-color: var(--lt);
        outline: none;
        width: 90%;
        color: black;
        padding: 10px;
      }
  
      button {
        width: 90%;
        height: 40px;
        outline: none;
        border: 1px solid transparent;
        border-top-color: gold;
        border-bottom-color: rgb(0, 13, 255);
        border-right-color: rgb(255, 0, 0);
        border-left-color: cyan;
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
  
  .cp1-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media(max-width:719px){
        width: 100%;
    }
  
    h1 {
      width: 250px;
      height: 300px;
      border: 1px solid rgb(230, 229, 229);
      border-radius: 10% 50% 90% 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 3rem;
      color: black;
  
      hr {
        width: 100px;
      }
  
      p {
        font-size: 1rem;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      }
    }
  }
  

.footer {
  width: 100vw;
  height: 40vh;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    color: #fff;
  }
}

.social-media {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    color: #7d7d7d;
    font-size: 2rem;
    border: 1px solid #7d7d7d;
    padding: 16px;
    border-radius: 70px;
    margin: 10px;
    transition: all 0.3s ease-in-out;

    @media (max-width: 1071px) {
      font-size: 1.2rem;
    }
  }

  i:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
  }
}
